/* style.css */
body {
    background-color: #e3f0f0; /* or any color you want */
    font-family: Arial, sans-serif;
    text-align: center;  /* center text and inline elements horizontally */
}

.login {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    
    margin: 0 auto;
    
}
.login button {
    width: 25%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error {
    color: #ff0000;                  
    background-color: #ffe6e6;       
    border: 1px solid #ff0000;       
    padding: 10px 20px;              
    border-radius: 5px;              
    width: fit-content;              
    margin: 20px auto;               
    text-align: center;              
    font-weight: bold;
}